@use './../../../styles/base';

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 4rem;
  margin: 0;
  background-color: base.$nav-bg-color;
}

.navbar {
  @extend .responsive-padding, .flex-row-align-center;
  width: 100%;
  max-width: 1500px;
  justify-content: space-between;
  ul {
    display: flex;
  }
  li {
    list-style: none;
    padding: 1rem 0 1rem 1rem;
  }
}

.logo {
  color: base.$font-color;
}
