// -- Breakpoints --
$small-screen: 640px;
$medium-screen: 768px;
$large-screen: 1024px;

// -- Padding --
$padding-small: 0 2.5rem;
$padding-medium: 0 5rem;
$padding-large: 0 10rem;

@mixin responsive-padding {
  padding: $padding-small;

  @media (min-width: $small-screen) {
    padding: $padding-small;
  }

  @media (min-width: $medium-screen) {
    padding: $padding-medium;
  }

  @media (min-width: $large-screen) {
    padding: $padding-large;
  }
}

// -- Paragraphs --
$p-small: 0.95rem;
$p-medium: 1rem;
$p-large: 1.05rem;

@mixin responsive-p {
  font-size: $p-small;

  @media (min-width: $small-screen) {
    font-size: $p-small;
  }

  @media (min-width: $medium-screen) {
    font-size: $p-medium;
  }

  @media (min-width: $large-screen) {
    font-size: $p-large;
  }
}
